/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 16, 2014, 10:14:44 PM
    Author     : svininykh-av
*/

.ui-header label{
    font-size: 1em;
    margin: 0 0 0 0;
    font-weight: bold;
}

.ui-btn label{
    cursor: pointer;
}

.ui-table th label{
    font-weight: bold;
    text-align: center;
}
